@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../fonts/cjzkeoubrn4kerxqtauh3acwcynf_cdxxwclxiixg1c.ttf) format('truetype');
}
